name = "dvm-agent"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["global_fetch_strictly_public"]
account_id = "a279e1e82b5f3fb2904191364cb0e3f7"

[vars]
ENVIRONMENT = "production"

[triggers]
crons = ["*/5 * * * *"]

[[durable_objects.bindings]]
name = "DVM_STATE"
class_name = "DvmState"

[[migrations]]
tag = "v1"
new_classes = ["DvmState"]
