name = "market-maker-agent"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["global_fetch_strictly_public"]
account_id = "a279e1e82b5f3fb2904191364cb0e3f7"

[vars]
ENVIRONMENT = "production"
AGENTS_WORKER_URL = "https://example-agent.lynethlabs.workers.dev"
TRUST_API_URL = "https://trust-api-mock.lynethlabs.workers.dev"
